.containerManagement {
	bottom: 0px ;
	display: none ;
	position: fixed ;
	width: 100%;
}

.containerManagement{
	left: 20px ;
}	
 
#innerManagement {
	background-color: white ;
	opacity: .9;
	border-bottom-width: 0px ;
	padding: 20px 20px 100px 20px ;
}